/* 
This is essentially useless - I left it in to show that I understand
the concept of background styles.
*/
header {
  background-color: white;
  margin: 1%;
}
/* This styles Header No. 1 */
h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 35px;
  text-align: center
}

/* This styles Header No. 2 */
h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  text-align: center;
  top: 35px;
}

/* This styles the Horizontal Rules */ 
hr {
  width: 1100px;
  height: 1px;
  background-color: black;
}

/* This styles the "Main Image" class */
.main-image {
  margin: 1%;
  position: relative;
}


/* This styles the "About Me" class */
.about-me {
  width: 370px;
  font-size: 22px;
  position: absolute;
  text-align: left;
  top: 115px;
  left: 20px;
  right: 270px;
}

/* This styles the "Image Text" classes */
.image-text1 {
  width: 370px;
  font-size: 18px;
  position: absolute;
  text-align: justify;
  top: 160px;
  left: 20px;
  right: 270px;
}

.image-text2 {
  width: 370px;
  font-size: 18px;
  position: absolute;
  text-align: justify;
  top: 290px;
  left: 20px;
  right: 270px;
}

.image-text3 {
  width: 370px;
  font-size: 18px;
  position: absolute;
  text-align: justify;
  top: 420px;
  left: 20px;
  right: 270px;
}

.image-text4 {
  width: 370px;
  font-size: 18px;
  position: absolute;
  text-align: justify;
  top: 550px;
  left: 20px;
  right: 270px;
}

/* This styles Header No. 3 */
h3 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
  text-align: left;
  padding: 1%;
  bottom: 5px;
}

/* This styles the "Social Media" classes contained in the footer */
.social-media {
  margin: 42px;
  padding: 0px;
  list-style: none; 
  display: inline-block;
}